<div id="fb-root"></div>{{ attach_library('facebook_page_box/fbbox-attachments') }}
<div class="fb-page" data-href="{{ url }}" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" >
	<div class="fb-xfbml-parse-ignore" >
		<blockquote cite="{{ url }}">
			<a href="{{ url }}">Facebook Page</a>
		</blockquote>
	</div>
</div>